/* CSS Dashboard

Custom Styles by Peyton Chance
MEJO 487 at UNC-Chapel Hill */

/* Global Styles */

body{
  font-family: 'Proxima Nova', sans-serif;
  font-size: 14px;
}
h1{
  font-size: 36px;
}
h3{
  font-size: 14px;
  color: #fe7f13;
  text-transform: uppercase;
}
.flex{
  display: flex;
}
.vertical-center{
  align-items: center;
  width: 100%;
}
/* Top Menu */
.top-menu{
  background: linear-gradient(#2498f4, #1d85d8);
  display: flex;
  height: 44px;
}

.top-menu a{
  color: #fff;
}

.top-menu ul{
  list-style-type: none;
  flex-direction: row;
  display: flex;
  margin-top: 20px;
  position: relative;
}

.top-menu li{
  position: relative;
}

.top-menu-icon{
  margin-right: 5px;
  margin-left: 5px;
}

.gray-hover a:hover{
  color: #f1f1f1;
  text-decoration: none;
}

.top-nav-hover{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 6px;
}

.gray-border{
  border-style: solid;
  border-color: #eee;
  border-width: 1px;
}

/* ---- Main Nav ----*/
.main-nav{
  background-image: url('../images/main-nav-background.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 120px;
}

.main-nav ul{
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  margin-top: 34px;
}

.main-nav li{
  margin-right: 30px;
  position: relative;
}

.nav-icon{
  position: relative;
  z-index: 10000;
}

.nav-hover{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.nav-icon:hover{
  opacity: 0;
  cursor: pointer;
}

.icon-shadow{
  position: absolute;
  top: 62px;
}

.chevron{
  position: absolute;
  top: 75px;
  left: 10px;
}

/* ------ Title Bar -----*/
.title-bar{
  background-color: #33cc66;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 5px;
  margin-top: 3%;
}

.fa-search{
  color: #2498f4;
}

.form-control{
  border-color: #2db55b;
}
.btn{
  background: #fff;
  border-color: #2db55b;
  border-left: none;
}

/* ------- Main Content -----*/
.main-content{
  margin-top: 10px;
}
.page-controls button{
  background-color: #fff;
  border: none;
}

.page-controls a:hover{
  cursor: pointer;
}

.main-content-row h2{
  color: #2498f4;
}

/*----- Tasks Bar ----*/

.avatar-box{
  height: 30px;
  width: 60px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: #eee;
  display: flex;
  align-items: center;
}

.avatar-blue-small{
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
.task-column ol{
  list-style-type: none;
  color: #2498f3;
  padding-left: 0px;
}
/* ----- Custom Number styles from https://codepen.io/sawmac/pen/txBhK */
.task-column li{
  display: flex;
  flex-direction: row;
  counter-increment: step-counter;
}

.task-column li::before {
  content: counter(step-counter);
  margin-right: 5px;
  width: 25px;
  height: 25px;
  text-align: center;
  align-items: center;
  font-size: 14px;
  background-color: #32cc66;
  color: white;
  border-radius: 50%;
}
