/* CSS Dashboard

Custom Styles by Peyton Chance
MEJO 487 at UNC-Chapel Hill */

/* Global Styles */

body{
  font-family: 'proxima-nova', sans-serif;
  font-size: 14px;
}
h1{
  font-size: 36px;
}
h3{
  font-size: 14px;
  color: #fe7f13;
  text-transform: uppercase;
}
.flex{
  display: flex;
}
.vertical-center{
  align-items: center;
  width: 100%;
}
/* Top Menu */
.top-menu{
  background: linear-gradient(#2498f4, #1d85d8);
  display: flex;
  height: 44px;
}

.top-menu a{
  color: #fff;
}

.top-menu ul{
  list-style-type: none;
  flex-direction: row;
  display: flex;
  margin-top: 20px;
  position: relative;
}

.top-menu li{
  position: relative;
}

.top-menu-icon{
  margin-right: 5px;
  margin-left: 5px;
}

.gray-hover a:hover{
  color: #f1f1f1;
  text-decoration: none;
}

.top-nav-hover{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 6px;
}

.gray-border{
  border-style: solid;
  border-color: #eee;
  border-width: 1px;
}

/* ---- Main Nav ----*/
.main-nav{
  background-image: url('../images/main-nav-background.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 120px;
}

.main-nav ul{
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  margin-top: 34px;
}

.main-nav li{
  margin-right: 30px;
  position: relative;
}

.nav-icon{
  position: relative;
  z-index: 10000;
}

.nav-hover{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.nav-icon:hover{
  opacity: 0;
  cursor: pointer;
}

.icon-shadow{
  position: absolute;
  top: 62px;
}

.chevron{
  position: absolute;
  top: 75px;
  left: 10px;
}

/* ------ Title Bar -----*/
.title-bar{
  background-color: #33cc66;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 5px;
  margin-top: 1%;
}

.fa-search{
  color: #2498f4;
}

.form-control{
  border-color: #2db55b;
}
.btn{
  background: #fff;
  border-color: #2db55b;
  border-left: none;
}

/* ------- Main Content -----*/
.main-content-border{
  margin-top: 10px;
  padding-top: 8px;
  background: linear-gradient(to bottom, #f6f6f6 0%, #fff 250px, #fff 100%);
  border-radius: 10px;
  margin-bottom: 50px;
}

.main-content{
  background-color: #fff;
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
}

.page-controls{
  border-right: none;
}
.page-controls button{
  background-color: #fff;
  border: none;
}

.page-controls a:hover{
  cursor: pointer;
}

.main-content-row h2{
  color: #2498f4;
}

.middle-text p{
  padding-top: 10px;
}

/*----- Tasks Bar ----*/

.avatar-box{
  height: 30px;
width: 60px;
border-style: solid;
border-radius: 3px;
border-width: 1px;
border-color: #eee;
display: flex;
align-items: center;
justify-content: flex-start;
position: absolute;
right: 32px;
margin-top: -25px;
padding-bottom: 4px;
}

.avatar-blue-small{
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
.task-column ol{
  list-style-type: none;
  color: #2498f3;
  padding-left: 0px;
}
/* ----- Custom Number styles from https://codepen.io/sawmac/pen/txBhK */
.task-header{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 15px;
}
.task-header-fix{
  padding-top: 14px;
  margin-top: 0px;
  border-right: solid 1px #eee;
}
.recommendations-header{
    margin-top: -17px;
    padding-top: 15px;
}

.task-header .settings-gray{
  margin-left: 212px;
}
.task-column li{
  display: flex;
  flex-direction: row;
  counter-increment: step-counter;
  height: 50px;
  border-style: solid;
  border-top: none;
  border-width: 1px;
  border-color: #eee;
  border-left: none;
  padding-left: 17px;
  align-items: center;
  margin-left: -15px;
  font-size: 18px;
}

.task-column li::before {
  content: counter(step-counter);
  margin-right: 5px;
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 2px;
  font-size: 14px;
  background-color: #32cc66;
  color: white;
  border-radius: 50%;
  margin-right: 10px
}

.all-gray-hover li:hover{
  filter: grayscale(100%);
  cursor: pointer;
  text-decoration: none;
}
.avatar-number-fix{
  margin-left: 5px;
}

/* ------ Recommendations Column ------*/
.recommendations-column{
  min-height: 694px;
  border-right: solid 1px #eee;
}
.recommendations-column ul{
  list-style-type: none;
  padding-left: 5px;
}

.recommendations-column li{
  display: flex;
  flex-direction: row;
  border-bottom: dotted 1px #eee;
  padding-top: 10px;
  width: 90%;
}
.task-header p{
  margin-top: 5px;
  float: left;
}

.recomm-flex{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.recomm-flex p{
  margin-top: -10px;
}

.recomm-flex h3{
  color: #999999;
  text-transform: none;
}
#check{
  margin-left: 10px;
}
#bulb{
  margin-left: 21px;
}

/* ------- Analytics Section ------- */
.right-content{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.bar-graph{
  width: 500px;*/
  height: auto;
}
/*.graph-width .col-md-8{
  width: 500px;
}*/
.graph-border{
  padding-right: 30px;
  border-right: solid 2px;
  border-color: rgba(0,0,0,0.07);
  margin-bottom: 10px;
    /*width: 500px;*/
}
.pie-graphs h4{
color: #999999;
font-size: 14px;
margin-top: 15px;
}
.analytics-flex{
  flex-direction: row;
}

.analytics-flex h3{
  color: #999999;
  align-self: center;
}

.dropdown{
margin-left: 35%;
}

#dropdownMenu2{
  border: solid;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 5px;
  font-family: 'proxima-nova';
  color: #666666;
  letter-spacing: 0.75px;
  display: flex;
  flex-direction: row;
}
.dropdown-toggle::after {
    display: none;
  }
.arrow-holder{
  padding-left: 10px;
border-left: solid 1px #eee;
margin-top: -2px;
margin-bottom: -8px;
min-height: 26px;
margin-left: 3px;
}
.social-share{
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 14px;
  width: 500px;
}
.facebook-custom{
  background-color: #114570;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 20px;
}
.twitter-custom{
  background-color: #2298f4;
  border-radius: 3px;
    padding-left: 10px;
    padding-right: 20px;
}
.foursquare-custom{
  background-color: #3a599b;
  border-radius: 3px;
    padding-left: 10px;
    padding-right: 20px;
}
.google-custom{
  background-color: #31cc66;
  border-radius: 3px;
    padding-left: 10px;
    padding-right: 20px;
}

div.social-share{
  width: 100px;
}

.one-social{
  display: flex;
  flex-direction: row;
}
.social-check{
  -webkit-appearance: none;
  width: 23px;
  height: 21px;
  background-image: url('../images/checkbox.png');
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  margin: 0px 5px 0px 5px;
}

.social-check:checked{
  background-image: url('../images/checked.png');
  background-repeat: no-repeat;
  outline: none;
}

/* ------- Avatar Boxes ---------*/
.avatar-heading{
  background-color: #2394ee;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 3px;
  position: relative;
  top: -25px;
}

.avatar-heading h4{
  font-size: 20px;
  margin-bottom: 0px;
}
.avatar-heading h5{
  font-size: 14px;
}

.profiles{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  margin-top: 30px;
padding-top: 35px;
  border-top: solid 1px #eee;
  margin-left: -31px;
  padding-left: 31px;
  margin-right: -17px;
    padding-right: 17px;
    border-bottom: solid 1px #eee;
      margin-bottom: 30px;
}

.profile-box{
  border-radius: 7px;
  box-shadow: -0.2px 1px 2px 2px #eee;
  width: 250px;
  height: 250px;
  margin-bottom: 60px;
  text-align: center;
  position: relative;
}

.profile-box img{
  margin-top: 10px;
  text-align: center;
}
.avatar-position{
  text-align: center;
  position: relative;
top: -16px;
}

.left-ribbon{
  height: 53px;
  position: absolute;
  left: 47px;
  z-index: 1000;
  top: 501px;
}
.right-ribbon{
  height: 53px;
  top: 501px;
    position: absolute;
    right: 402px;
}
.left-ribbon-2{
  height: 53px;
  position: absolute;
  top: 501px;
  right: 317px;
}
.right-ribbon-2{
  height: 53px;
  position: absolute;
  top: 501px;
  right: 48px;
}

.know-box{
  background-color: #2498f4;
  color: #fff;
  padding: 30px 50px 30px 50px;
  border-radius: 5px;
}

.know-box h4{
  font-size: 20px;
}

.bottom-arrow{
  -webkit-appearance: none;
  border: none;
  color: transparent;
  background-color: transparent;
}
.back-arrow{
  position: absolute;
  top: 827px;
  right: 701px;
}

.next-arrow{
  position: absolute;
  top: 827px;
  right: 15px;
}

/* ----- Advertisements Row -------*/
.adverts{
  background-color: #2498f4;
  padding: 30px 25px 30px 25px;
}
.ad-image-box{
  background-color: #fff;
  height: 160px;
  width: 270px;
  position: relative;
  border-radius: 5px;
  box-shadow: -0.2px 1px 1px 1px rgba(0,0,0,0.2);
}
.ad-extra-box img{
  position: absolute;
  z-index: 1000;
  top: -11px;
}

.v2-image{
  margin-left: 7px;
}

/* ------- Footer -------*/
.footer a{
  color: #2498f4;
}

.footer{
  background: #f5f5f5;
  background: -webkit-linear-gradient(#f5f5f5, #fff);
  background: -o-linear-gradient(#f5f5f5, #fff);
  background: -moz-linear-gradient(#f5f5f5, #fff);
  background: linear-gradient(#f5f5f5, #fff);
  border-top: solid 3px #fff;
  box-shadow: 0px -5px 10px #f1f1f1;
}

.footer-content{
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 14px;
}

.footer-row{
  align-items: center;
  margin-top: -7px;
  margin-left: 50px;
}

.footer a:hover{
  text-decoration: none;
}
.profile-footer{
padding-top: 4px;
min-width: 127px;
}
.profile-footer a{
  margin-left: 10px;
  align-self: center;
  font-weight: bold;
}
.profile-footer a:hover{
  cursor: pointer;
  color: #999999;
}
.social-footer{
  display: flex;
  flex-direction: row;
  overflow: visible;
  border-left: solid 2px #eee;
border-right: solid 2px #eee;
margin-top: -14px;
margin-bottom: -26px;
min-height: 58px;
    min-width: 127px;
}

.social-footer div{
  margin-right: 3px;
}
.social-footer ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin-bottom: -7px;
      margin-left: -28px;
}
.social-footer li{
  position: relative;
}
.footer-arrow{
  border: none;
background: transparent;
position: absolute;
right: 10px;
}
.footer-arrow:hover{
  cursor: pointer;
}
.utility-nav-footer{
      padding-top: 9px;
}
.utility-nav-footer a{
  color: #999999;
}

.social-initial{
  position: relative;
  z-index: 1000;
}
.social-initial:hover{
  opacity: 0;
}
.social-hover{
  position: absolute;
  top: 0px;
}

.promotion-footer{
  height: 100%;
  overflow: visible;
  border-left: solid 2px #eee;
  border-right: solid 2px #eee;
  margin-top: -14px;
  margin-bottom: -26px;
  min-height: 58px;
  padding-top: 18px;
  max-width: 596px;
}

.up-arrow:hover{
  filter: grayscale(100%);
}

.up-arrow:focus{
  outline: none;
}
